h1 {
  color: darkblue;
  text-align: center;
  font-size: 50px;
}

p {
  color: darkorange;
  text-align: center;
  font-size: 28px;
}

.Name {
  color: violet;
  font-size: 30px;
}

.hero-image {
  background-image: url("IMG_0938.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


#hlink {
  text-align: center;
  font-size: 12px;
}
